@model IEnumerable<WebAppCursos.Models.Inscripcion>

@{
    ViewData["Title"] = "Inscripcion";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Descripcion </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.Nombres)
            </td>
            <td>
              

                <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="editar" asp-action="Edit" asp-route-id="@item.InscripcionID"><i class="fas fa-edit"></i></a> |
                <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="detalles" asp-action="Details" asp-route-id="@item.InscripcionID"><i class="fas fa-clipboard-list"></i></a> |
                <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="eliminar" asp-action="Delete" asp-route-id="@item.InscripcionID"><i class="fas fa-times"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
