@model IEnumerable<WebAppCursos.Models.Asignacion>

@{
    ViewData["Title"] = "Asignacion";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"> Nueva Asignacion </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.Nombres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AsignacionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AsignacionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AsignacionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
